{%extends 'base.html'%}

{%block content%}

<h1 align="center">Scores for: {{date}}</h1>
<div class="row">
    <div class="col">
        <h2> Scores</h2>
    </div>
</div>

<div class="rows">
    <div class="col">


        <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Home</th>
      <th scope="col">Score</th>
      <th scope="col">Away</th>
    </tr>
  </thead>
  <tbody>

  {% for tot in total%}
    <tr>
      <th scope="row">{{tot.3}}</th>
      <td>{{tot.0}}</td>
      <td>{{tot.2}}</td>
      <td>{{tot.1}}</td>
    </tr>
  {%endfor%}

  </tbody>
</table>


    </div>
</div>





{%endblock content%}